body {
    margin:0;
    font-family: 'inconsolata';
    font-size: 15px;
    line-height: 18px;
    overflow: hidden;
}

canvas { width: 100%; height: 100% }


#events span, #tracks span, #compareSubmissionData span, #uploadCustomEvent span{
    width: 100%;

}

#eventListNav, #trackListNav, #hitListNav {
    width: 45%;
    display: inline-block;
}

#eventListSearch span.property-name, #trackListSearch span.property-name{
    width: 40%;
}

#GUIEvents{
    float: left;
}
#GUITracks{
    float: right;
}


.loaderHolder, .iconHolder{
    position: relative;
    height: 100%;
}
.loaderBar {
    height: 100%;
    width: 0%;
    background: #123456;
}
.loaderCircle {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #787878;
    width: 16px;
    height: 16px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;

    position: absolute;
    top: 0px;
    right: 0px;
}
.iconFolder {
    width: 32px;
    height: 100%;
    /*background: url("../data/img/folder4v2.png") no-repeat;*/
    background: url("./img/folder4v2.png") no-repeat;
    background-size: contain;

    position: absolute;
    top: 0px;
    right: 0px;
}

.backgroundHolder{
    position: relative;
    height: 100%;
}
.backgroundHolder .colorBar, .backgroundHolder .trackColorBar, .backgroundHolder .submissionTrackColorBar, .backgroundHolder .hitColorBar{
    height: 100%;
    width: 100%;
    background: #123456;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#file_chooser_compare_event, #file_chooser_custom_event{
    display: none;
}
#dialog-help{
    display: none;
}